@charset "UTF-8";

@font-face {
  font-family: 'qq-hd';
  src: url('qq-hd.eot');
  src: url('qq-hd.eot?#iefix') format('embedded-opentype'),
       url('qq-hd.woff') format('woff'),
       url('qq-hd.ttf') format('truetype'),
       url('qq-hd.svg#qq-hd') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: qq-hd;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.qzone2:before { content: "\f802"; } /* '\f802' */
.qzone3:before { content: "\f803"; } /* '\f803' */
.qzone-lock:before { content: "\f804"; } /* '\f804' */
.qzone-disabled:before { content: "\f805"; } /* '\f805' */
.weibo2:before { content: "\f808"; } /* '\f808' */
.at:before { content: "\f809"; } /* '\f809' */
.add:before { content: "\f80a"; } /* '\f80a' */
.search:before { content: "\f80b"; } /* '\f80b' */
.setting:before { content: "\f80c"; } /* '\f80c' */
.clothes:before { content: "\f80d"; } /* '\f80d' */
.close:before { content: "\f80e"; } /* '\f80e' */
.delete:before { content: "\f80f"; } /* '\f80f' */
.person:before { content: "\f810"; } /* '\f810' */
.persons:before { content: "\f811"; } /* '\f811' */
.persons-disabled:before { content: "\f812"; } /* '\f812' */
.male:before { content: "\f813"; } /* '\f813' */
.female:before { content: "\f814"; } /* '\f814' */
.write:before { content: "\f815"; } /* '\f815' */
.write2:before { content: "\f816"; } /* '\f816' */
.reply:before { content: "\f817"; } /* '\f817' */
.reply2:before { content: "\f818"; } /* '\f818' */
.comment:before { content: "\f819"; } /* '\f819' */
.chat:before { content: "\f81a"; } /* '\f81a' */
.retweet:before { content: "\f81b"; } /* '\f81b' */
.microphone:before { content: "\f81c"; } /* '\f81c' */
.microphone-disabled:before { content: "\f81d"; } /* '\f81d' */
.sound:before { content: "\f826"; } /* '\f826' */
.camera:before { content: "\f81e"; } /* '\f81e' */
.camera2:before { content: "\f81f"; } /* '\f81f' */
.camera3:before { content: "\f820"; } /* '\f820' */
.camera-disabled:before { content: "\f821"; } /* '\f821' */
.emotion:before { content: "\f822"; } /* '\f822' */
.emotion-add:before { content: "\f823"; } /* '\f823' */
.emotion-favorate:before { content: "\f824"; } /* '\f824' */
.heart:before { content: "\f825"; } /* '\f825' */
.share:before { content: "\f827"; } /* '\f827' */
.save:before { content: "\f828"; } /* '\f828' */
.home:before { content: "\f829"; } /* '\f829' */
.profile:before { content: "\f82a"; } /* '\f82a' */
.timing:before { content: "\f82b"; } /* '\f82b' */
.time:before { content: "\f82c"; } /* '\f82c' */
.time2:before { content: "\f82d"; } /* '\f82d' */
.countdown:before { content: "\f82e"; } /* '\f82e' */
.plane:before { content: "\f82f"; } /* '\f82f' */
.fullscreen:before { content: "\f830"; } /* '\f830' */
.restore:before { content: "\f831"; } /* '\f831' */
.image:before { content: "\f832"; } /* '\f832' */
.graffiti:before { content: "\f833"; } /* '\f833' */
.geolocation:before { content: "\f834"; } /* '\f834' */
.keyboard:before { content: "\f835"; } /* '\f835' */
.open-folder:before { content: "\f836"; } /* '\f836' */
