@charset "UTF-8";

@font-face {
  font-family: 'qzone-touch';
  src: url('qzone-touch.eot');
  src: url('qzone-touch.eot?#iefix') format('embedded-opentype'),
       url('qzone-touch.woff') format('woff'),
       url('qzone-touch.ttf') format('truetype'),
       url('qzone-touch.svg#qzone-touch') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: qzone-touch;
  font-style: normal;
  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.\icon\-home:before { content: "\e802"; } /* '\e802' */
.\icon\-setting:before { content: "\e803"; } /* '\e803' */
.\icon\-add:before { content: "\e804"; } /* '\e804' */
.\icon\-arrow-top:before { content: "\e805"; } /* '\e805' */
.\icon\-arrow-left:before { content: "\e806"; } /* '\e806' */
.\icon\-arrow-down:before { content: "\e807"; } /* '\e807' */
.\icon\-arrow-right:before { content: "\e808"; } /* '\e808' */
.\icon\-circle-down:before { content: "\e809"; } /* '\e809' */
.\icon\-circle-top:before { content: "\e811"; } /* '\e811' */
.\icon\-circle-left:before { content: "\e810"; } /* '\e810' */
.\icon\-circle-right:before { content: "\e80a"; } /* '\e80a' */
.\icon\-comment:before { content: "\e80b"; } /* '\e80b' */
.\icon\-dairy:before { content: "\e80c"; } /* '\e80c' */
.\icon\-delete:before { content: "\e80d"; } /* '\e80d' */
.\icon\-emotion:before { content: "\e80e"; } /* '\e80e' */
.\icon\-image-upload:before { content: "\e80f"; } /* '\e80f' */
.\icon\-location:before { content: "\e812"; } /* '\e812' */
.\icon\-love:before { content: "\e813"; } /* '\e813' */
.\icon\-love2:before { content: "\e814"; } /* '\e814' */
.\icon\-more:before { content: "\e815"; } /* '\e815' */
.\icon\-reply:before { content: "\e816"; } /* '\e816' */
.\icon\-retweet:before { content: "\e817"; } /* '\e817' */
.\icon\-share:before { content: "\e818"; } /* '\e818' */
.\icon\-search:before { content: "\e819"; } /* '\e819' */
.\icon\-success:before { content: "\e81a"; } /* '\e81a' */
.\icon\-warning:before { content: "\e81b"; } /* '\e81b' */
.\icon\-at:before { content: "\e81c"; } /* '\e81c' */
.\icon\-weibo:before { content: "\e81d"; } /* '\e81d' */
.\icon\-write:before { content: "\e81f"; } /* '\e81f' */
